* {
    box-sizing: border-box;
}

:root {
    ---bgcolor-master-3c: #143c3c;
    --bgcolor-secon-df: #e2eddf;
    --heading-primary-color: #152427;
    --text-color-black-gray: #575d5e;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {
    font-family: "Public Sans", sans-serif;
    z-index: 10;
}

main {
    z-index: 0;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 173px;
    height: 57px;
    padding: 0 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(---bgcolor-master-3c);
    border: 1px solid var(--bgcolor-master-3c);
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading-module {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 4.2rem;
    line-height: 1.23; /* 123.81% */
    font-weight: 600;
}

.heading-module__line::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 3px;
    background-color: var(---bgcolor-master-3c);
    margin: 0 0 6px 8px;
}

.sub-heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    line-height: 1; /* 100% */
    font-weight: 600;
}

.desc-lv0 {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Public Sans;
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
    font-weight: 500;
}

.title-module,
.desc-lv1 {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62; /* 162.5% */
}

.desc-lv2 {
    color: var(--text-color-light-gray, #7d8188);
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
    font-weight: 500;
}

.title-module::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    left: -44px;
    width: 25px;
    height: 2px;
    background-color: var(--heading-primary-color);
}

/* ========== Header ========== */
header {
    padding: 28px 0 0px;
    background: #fff;
}

.fix {
    position: sticky;
    top: -20px;
}

.header-core {
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav li a {
    padding: 4px 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
    font-weight: 500;
    transition: 0.3s;
}

.nav li a:hover {
    color: #152427;
    text-shadow: 0 0 1px currentColor;
}

.nav li {
    position: relative;
}

.nav .active-nav {
    color: #152427;
    text-shadow: 0 0 1px currentColor;
}

.nav .active-nav::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: -28px;
    width: 16px;
    height: 2px;
    background: var(---bgcolor-master-3c);
}

.action {
    margin-left: 88px;
}

.underline-header {
    z-index: 1;
}

/* =============== HERO =============== */
.hero {
    font-family: "Public Sans", sans-serif;
    z-index: -1;
}

.hero-core-wrapper {
    position: relative;
    height: calc(100vh - 101px);
}

.hero-core {
    padding-top: 60px;
    display: flex;
    gap: 76px;
    z-index: 1;
    background: transparent;
}

.hero-content-block {
    padding-top: 44px;
    width: 34.5%;
}

.hero-media-block {
    flex-grow: 1;
}

/* ===== HERO CONTENT ===== */
.hero-heading {
    color: var(--heading-primary-color, #152427);
    font-size: 5rem;
    line-height: 1.2; /* 120% */
    font-weight: 800;
}

.hero_heading-whitesp {
    white-space: nowrap;
}

.hero-desc {
    margin: 20px 0 42px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
    font-weight: 500;
}

.hero-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-watch {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.hero_video-icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid var(---bgcolor-master-3c);
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.hero-watch:hover .hero_video-icon-group {
    transform: rotate(135deg);
}

.hero-watch:hover .hero-play-triangle-wrap {
    transform: rotate(-375deg);
}

.hero-watch:hover .hero_video-text {
    color: #83a17d;
}

.hero-play-triangle-wrap {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83a17d;
    transform: rotate(45deg);
    transition: 0.3s;
}

.hero_video-text {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 1.667; /* 166.667% */
    font-weight: 600;
    transition: 0.3s;
}

/* ===== HERO MEDIA ===== */
.hero-media-block {
    /* background-color: rgba(255, 145, 0, 0.2); */
    height: 100%;
}

.hero__media-img-group {
    display: flex;
    gap: 20px;
}

.hero-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero-img:nth-child(2) {
    margin-top: 77px;
}

/* ===== VECTOR ==== */
.hero__decorate-vector {
    display: inline-block;
    position: absolute;
    z-index: 2;
}

/* ===== VECTOR-1 */
.hero__decorate-vector.fact {
    width: 545px;
    height: 361px;
    top: 28px;
    left: 300px;
}

.hero-flower-decorate {
    position: absolute;
    width: 72px;
    height: 72px;
    object-fit: cover;
    top: 13px;
    left: -35px;
}

.hero-line-vt {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== VECTOR-3 */
.hero__decorate-vector.test {
    width: 545px;
    height: 364px;
    bottom: 10px;
    right: 75px;
}

.hero-flower-decorate.test {
    transform: rotate(173deg);
    top: 224px;
    left: 509px;
}

/* Background-Hero */
.hero-background {
    width: 1240px;
    height: 1040px;
    position: absolute;
    z-index: -1;
    top: -128px;
    right: -259px;
}

.hero-bg-img {
    width: 100%;
    height: 100%;
}

/* ========== PartNer ==========*/
.partner {
    margin-top: 42px;
    padding: 53px;
}

.partner-core {
    padding: 0 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 210px;
    background-color: var(--bgcolor-secon-df);
    border-radius: 999px;
}

.partner-item.agworld {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

/* ========== Service ========== */
.service {
    margin-top: 53px;
}

.service-top {
    display: flex;
    justify-content: space-between;
}

.title-module {
    display: inline-block;
    margin: 0 0 12px 46px;
    position: relative;
    color: var(--heading-primary-color);
}

.service-heading {
    width: 520px;
    position: relative;
}

/* .service-heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 107px;
    width: 66px;
    height: 2px;
    background-color: var(--heading-primary-color);
} */

.service-lb-control-btn {
    margin-right: 73px;
    padding-bottom: 9px;
    display: flex;
    align-items: flex-end;
    gap: 17px;
}

.service-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--bgcolor-secon-df);
    transition: all 0.6s;
}

.btn__ct-list {
    color: var(--heading-primary-color);
    transition: all 0.6s;
}

.service-ic-ctrol-right {
    transform: rotate(180deg);
}

.service-cta:hover {
    cursor: pointer;
    background-color: var(--heading-primary-color);
}

.service-cta:hover .btn__ct-list {
    color: #fff;
}

/* ========== SERVICE ========== */
.member--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 16px;
    margin-top: 70px;
}

.member--item {
    border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    transition: all 0.3s;
}

.member--item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.1);
}

.member--item:hover .member-thumb {
    transform: scale(1.1);
}

.member--item:hover .member-item-content {
    border: 1px solid #fff;
    border-top: none;
}

.member-item-content {
    padding: 24px 84px 24px 18px;
    border-radius: 0 0 20px 20px;
    border: 1px solid var(--bgcolor-secon-df);
    border-top: none;
    transition: all 0.3s;
}

.member--img {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.member-thumb {
    display: block; /* De khong tao ra chan anh thuoc tinh default Inline */
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    transition: all 0.3s;
}

.member-it__desc {
    margin-top: 18px;
}

/* ========== ABOUT ========== */
.about {
    margin-top: 175px;
}

.about-core {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.about-media__block {
    padding-top: 23px;
    width: 52%;
    display: flex;
    gap: 21px;
}

.about-thumb:first-child {
    margin-top: 77px;
}

.about-content__block {
    flex-grow: 1;
}

.about-thumb {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-desc {
    margin-top: 11px;
}

.about-info-detail {
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
}

.about-info-detail {
    padding: 38px 0;
    border-bottom: 2px solid #83a17d;
}

.about-info-dts {
    width: 76%;
}

/* ===== About Layer Design ===== */
.about-stats__design {
    position: absolute;
    padding: 18px 18px 10px;
    width: 144px;
    height: 144px;
    left: 40%;
    bottom: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-design__heading {
    color: var(--heading-primary-color);
    font-family: "Public Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    /* text-align: center; */
}

.about-ds-desc {
    margin-top: 6px;
    color: var(--text-color-light-gray);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
}

.about-ds-desc-lv3 {
    margin-top: 10px;
    color: var(--heading-primary-color);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 505;
    line-height: 1;
}

.about-ds-desc-lv3__percent {
    position: relative;
    padding-bottom: 7px;
}

.about-ds-desc-lv3__percent::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    background-color: #83a17d;
    border-radius: 10px;
    z-index: 2;
}

.about-ds-desc-lv3__percent::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 2px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.about-ds-desc-lv3__left {
    text-align: right;
}

.about-ds-desc-lv3:first-child {
    padding-top: 10px;
    position: relative;
}

.about-ds-desc-lv3:first-child::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 2px;
    top: -12px;
    width: 5px;
    height: 5px;
    background-color: var(---bgcolor-master-3c);
    border: 5px solid #eaeaea;
    border-radius: 50%;
}

.team-design {
    display: flex;
    justify-content: space-between;
}

.team-avatar-group {
    padding-top: 18px;
}

.ab-avatar {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.ab-avatar + .ab-avatar {
    margin-left: -8px;
}

.about-decorate-block {
    position: absolute;
    top: 44px;
    left: 73px;
}

.ab-flower-dc {
    position: absolute;
    top: -40px;
    left: -40px;
    transform: rotate(22deg);
}

/* ========== Process ========== */
.process {
    margin-top: 79px;
}

.process-heading {
    width: 486px;
}

.process-content {
    margin-top: 81px;
}

.process-step {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 185px;
    background-color: #fff;
    border-bottom: 1px solid var(---bgcolor-master-3c);
    transition: all 0.4s;
}

.process-step:hover {
    background-color: var(--bgcolor-secon-df);
    border-radius: 33px;
    border-bottom: 1px solid var(--bgcolor-secon-df);
}

.process-step:hover .pro-learn-more {
    visibility: visible;
}

.process-step:hover .process-st-heading,
.process-step:hover .pro-learn-more {
    transform: translateY(-18px);
}

.prces-number {
    margin-left: 30px;
    display: inline-block;
    color: var(---bgcolor-master-3c, #143c3c);
    font-family: Poppins;
    font-size: 7.2rem;
    font-weight: 600;
}

.prot-step-sbtile-wrap {
    flex-shrink: 0;
    margin-left: 64px;
    padding-top: 44px;
}

.process-st-heading {
    transition: all 0.6s;
}

.pro-learn-more {
    display: block;
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    color: var(--text-color-black-gray);
    visibility: hidden;
    transition: all 0.2s;
}

.prces-st1-media {
    margin-left: 380px;
}

.prces-st1-ig {
    margin-top: -58%;
    display: block;
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
}

.prces-st-desc {
    margin-left: 175px;
    width: 572px;
}

/* ========== Experience ========== */
.experience {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(---bgcolor-master-3c);
}

.exp-label {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 93px;
}

.exp-heading {
    max-width: 457px;
}

.exp-heading {
    color: #E7F9F9;
}

.exp-heading.heading-module__line::after {
    background: #83A17D;
}

.exp-desc.desc-lv0 {
    color: #6A8383;
}

.browse-project {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 26px;
}


.browse-text:hover {
    text-decoration: underline;
}

.browse-text.desc-lv0 {
    color: #fff;
}

.ex-icon-arrowleft {
    color: #80A07B;
    transition: all 0.3s;
}

.ex-icon-arrowleft:hover {
    color: #fff;
}

.experience-media {
    margin-top: 65px;
    border-radius: 22px;
    overflow: hidden;
}